:root.theme-1 {
  --background: linear-gradient(135deg, 
    #011F4B,
    #03396C,
    #045E85,
    #1E85B7,
    #045E85,
    #03396C,
    #011F4B
  );
  --primary-color: #005377; 
  --secondary-color: #008891;
  --primary-text-color: #E1E8F0;
  --button-shadow: 0px 4px 10px rgba(0, 83, 119, 0.4);
  --button-shadow-hover: 0px 6px 8px rgba(0, 83, 119, 0.5);
  --text-shadow: 0px 2px 4px rgba(1, 31, 75, 0.6);
}

:root.theme-2 {
  --background: linear-gradient(135deg,
    #E1F5FE,
    #B3E5FC,
    #80DEEA,
    #4DB6AC,
    #26A69A 
);
  --primary-color: #0277BD; 
  --secondary-color: #00838F;
  --primary-text-color: #FBFBFD;
  --button-shadow: 4px 6px 12px rgba(2, 119, 189, 0.3);
  --button-shadow-hover: 4px 8px 16px rgba(2, 119, 189, 0.4);
  --text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

html {
  filter: none;
}

body {
    height: 100vh;
    position: relative;
    background: var(--background);
    overflow: hidden;
    background-size: 400% 400%;
    -webkit-animation: oceanFlow 15s ease infinite;
    -moz-animation: oceanFlow 15s ease infinite;
    animation: oceanFlow 15s ease infinite;
    background-position: center;
    color: var(--primary-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 1;
}

@-webkit-keyframes oceanFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@-moz-keyframes oceanFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes oceanFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.content {
  position: relative;
  z-index: 2;
}

button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
    color: var(--primary-text-color);
}

button:hover {
    background-color: var(--secondary-color);
}

.theme-selector {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: end;
  justify-content: center;
}

.selecttheme {
    z-index: 5;
    height: 4rem;
    font-size: 2rem;
    border: none;
    background: none;
    font-family: Raleway, sans-serif;
}

.selecttheme:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in;
  background: none;
}

.main-container {
    margin-top: 5vh;
    display: flex;
    width: 100vw;
    height: 55vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    
}

.img-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 80vw;
    height: 50vh;
    border-radius: 14px;
    max-width: 50%;
}

.timer-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    gap: 2vw;
}

.timer-button {
    border: none;
    position: relative;
    display: flex;
    width: 11vh;
    height: 11vh;
    border-radius: 100%;
    transition: transform 0.3s ease-out;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-shadow);
    
}



.timer-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
    box-shadow: var(--button-shadow-hover);
}

.timer-button i {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60%;
    color: var(--primary-text-color);
    font-size: 50px;
}

#play-button {
    background-color: var(--secondary-color);
}

#button-pause {
    display: none;
    transform: scale(1.1);
}

#restart-button {
    background-color: var(--primary-color);
}

.timer-container {
    background: transparent;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 15vh;
    border-radius: 14px;
    max-width: 30%;
}

.selected-time {
    background: transparent;
    border: none;
    font-family: 'DS-Digital',sans-serif;
    display: flex;
    align-items: center;
    font-size: 65px;
    color: var(--primary-text-color);
    text-shadow: var(--text-shadow);
}

input {
    background: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 6vh;
    border-radius: 14px;
    border: none;
    font-family: 'DS-Digital',sans-serif;
    font-size: 65px;
    color: var(--primary-text-color);
    caret-color: var(--primary-text-color);
}

:focus {
  outline: none;
}

.selected-time:hover {
    background: transparent;
    border-radius: 14px;
    transform: scale(1.05);
    transition: transform 0.5s ease-in;
    
}

img {
  width: 380px;
  height: 380px;
  display: flex;
}

nav {
    position: absolute;
    margin-top: 12%;
    margin-left: 45%;
    z-index: 5;
    color: black;
}

li {
    list-style-type: none;
    font-size: 2.5rem;
    font-family: Raleway,sans-serif;
    color: var(--primary-text-color);
    transition: transform 1s ease-out;
    display: none;
    text-shadow: var(--text-shadow);
}

li:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in;
}



#navbar {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

@keyframes split {
  0% {padding: 0;}
  50% {padding: 5px 0 5px 0;}
  100% {padding: 10px 0 10px 0;}
}

@keyframes spitOut {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(0.5);
  }
  40% {
    opacity: 0.5;
    transform: translate(50px, -20px) scale(1.2);
    
  }
  100% {
    opacity: 1;
    transform: translate(100px,-15px) scale(1);
  }
}

@keyframes move {
  0% {
    transform: translate(0,0) scale(1);
  }
  50% {
    transform: translate(-25px,0) scale(1.3);
  }
  100% {
    transform: translate(-40px,0) scale(1.1);
  }
}

.pufferfish-move {
    animation: move 2s ease forwards;
}

.navbar-spit-out {
    animation: spitOut 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@media (max-width: 800px) {

.timer-elements {
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 100vw;
    gap: 3vw;
}

.img-container {
    display: flex;
    align-items: center;
    height: 45vh;
    border-radius: 14px;
    min-width: 80%;
}

.timer-container {
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 12vh;
    border-radius: 14px;
    min-width: 50%;
}

.timer-button {
  border: none;
  position: relative;
  display: flex;
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  transition: transform 0.3s ease-out;
  justify-content: center;
  align-items: center;
}



.timer-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

.timer-button i {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 3px;
  width: 100%;
  height: 60%;
  font-size: 40px;
  transition: opacity 0.3s ease-in-out;
}

.selected-time {
  background: transparent;
  border: none;
  font-family: 'DS-Digital', sans-serif;
  display: flex;
  align-items: center;
  font-size: 50px;
}

input {
    width: 35vw;
}

img {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s ease-out;
}

nav {
  position: absolute;
  margin-top: 25%;
  margin-left: 38%;
  z-index: 5;
  color: black;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  color: var(--primary-text-color);
  transition: transform 1s ease-out;
}

li:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in;
}

.pufferfish-move {
  transform: scale(1.1);
  transition: transform 0.8s ease-in-out;
}

.selecttheme {
  height: 4rem;
  font-size: 2rem;
  border: none;
  background: none;
  font-family: Raleway, sans-serif;
  border-radius: 14px;
}

.selecttheme:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in;
  background: none;
}


}